# Copy this file to .env and fill in secrets. Do NOT commit .env
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1517395971443523666/q87aVjP8c__g2EMFlm0-1fw8T5ie_4SytJ6GAdr3sO_janSWQ-Rg8cun0IdxyLU-fhKR
